body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#root {
  color: #333;

  > h1 {
    color: #61dafb;
    margin: 0;
    padding: 10px 15px 10px 50px ;
    background: #000 url(~/images/react-logo.svg) 15px center no-repeat;
    background-size: 30px;
  }

  .content {
    padding: 10px 20px;

    .code {
      background-color: rgba(0, 0, 0, 0.8);
      padding: 8px;
      color: #fff;
      font-weight: 300;
      border-radius: 4px
    }
  }
}